<tr>
                    <td class="r2-c" align="center">
                      <table
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                        role="presentation"
                        width="100%"
                        class="r3-o"
                        style="table-layout: fixed; width: 100%"
                      >
                        <tr class="nl2go-responsive-hide">
                          <td
                            height="20"
                            style="
                              font-size: 20px;
                              line-height: 20px;
                              background-color: #eff2f7;
                            "
                          >
                            ­
                          </td>
                        </tr>
                        <tr>
                          <td class="r20-i" style="background-color: #eff2f7">
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              border="0"
                              role="presentation"
                            >
                              <tr>
                                <th
                                  width="100%"
                                  valign="top"
                                  class="r5-c"
                                  style="font-weight: 400"
                                >
                                  <table
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                    role="presentation"
                                    width="100%"
                                    class="r6-o"
                                    style="table-layout: fixed; width: 100%"
                                  >
                                    <tr>
                                      <td
                                        class="nl2go-responsive-hide"
                                        width="15"
                                        style="font-size: 0; line-height: 1px"
                                      >
                                        ­
                                      </td>
                                      <td valign="top" class="r7-i">
                                        <table
                                          width="100%"
                                          cellspacing="0"
                                          cellpadding="0"
                                          border="0"
                                          role="presentation"
                                        >
                                          <tr>
                                            <td class="r12-c" align="left">
                                              <table
                                                cellspacing="0"
                                                cellpadding="0"
                                                border="0"
                                                role="presentation"
                                                width="100%"
                                                class="r13-o"
                                                style="
                                                  table-layout: fixed;
                                                  width: 100%;
                                                "
                                              >
                                                <tr
                                                  class="nl2go-responsive-hide"
                                                >
                                                  <td
                                                    height="15"
                                                    style="
                                                      font-size: 15px;
                                                      line-height: 15px;
                                                    "
                                                  >
                                                    ­
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="r21-i nl2go-default-textstyle"
                                                    style="
                                                      font-family: arial,
                                                        helvetica, sans-serif;
                                                      color: #3b3f44;
                                                      font-size: 18px;
                                                      line-height: 1.5;
                                                      text-align: center;
                                                    "
                                                  >
                                                    <div>
                                                      <p style="margin: 0">
                                                        <strong
                                                          >BlindTus.com</strong
                                                        >
                                                      </p>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="r12-c" align="left">
                                              <table
                                                cellspacing="0"
                                                cellpadding="0"
                                                border="0"
                                                role="presentation"
                                                width="100%"
                                                class="r13-o"
                                                style="
                                                  table-layout: fixed;
                                                  width: 100%;
                                                "
                                              >
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="r22-i nl2go-default-textstyle"
                                                    style="
                                                      font-family: arial,
                                                        helvetica, sans-serif;
                                                      color: #3b3f44;
                                                      font-size: 18px;
                                                      line-height: 1.5;
                                                      text-align: center;
                                                    "
                                                  >
                                                    <div>
                                                      <p
                                                        style="
                                                          margin: 0;
                                                          font-size: 14px;
                                                        "
                                                      >
                                                        Contact:
                                                        osternaud.clement@gmail.com
                                                      </p>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td
                                        class="nl2go-responsive-hide"
                                        width="15"
                                        style="font-size: 0; line-height: 1px"
                                      >
                                        ­
                                      </td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr class="nl2go-responsive-hide">
                          <td
                            height="20"
                            style="
                              font-size: 20px;
                              line-height: 20px;
                              background-color: #eff2f7;
                            "
                          >
                            ­
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
